body {
    font-family: Arial, sans-serif;
}

.quiz-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
}

.choice {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.choice:hover {
    background-color: #eee;
}

#result-container {
    display: none;
}

#result-text {
    font-weight: bold;
}